*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: black;
    color: white;

}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 120px;
    margin: 120px auto 0 auto;
    max-width: 500px;
}
.todo-status{
    padding: 30px;
    border-radius: 20px;
    border: 2px solid lightpink;
    width: 100%;
    justify-content: space-between;
    
}
#progress-bar{
    margin-top: 10px;
    width: 100%;
    height: 10px;
    background-color: gray;
    border-radius: 5px;
}
#progress{
   
    height: 100%;
    background-color: plum;
    border-radius: 10px;
    transition: all 3s ease;
}
form{
    margin-top: 50px;
    width: 100%;
    display: flex;
}
input{
    flex: 1;
    padding: 16px;
    background-color:azure;   
    width: 100%;
    border: 1px solid plum;
    border-radius: 10px;
}
button{
    width: 50px;
    height: 50px;
    margin-left: 10px;
    background-color: plum;
    border: 1px solid plum;
    border-radius: 50%;
    color: white;
    font-size: 30px;
    font-weight: bold;
}
#task-list{
    display: flex ;
    flex-direction: column;
    gap: 10px;
    margin-top: 30px;
    width: 100%;
    list-style: none;
}
.taskItem{
    display: flex;
    background-color: slategrey;
    padding: 10px;
    width: 100%;
    border-radius: 10px;
    justify-content: space-between;
    align-items: center;
}
.task{
    display: flex;
    align-items: center;
    gap: 10px;
}
.task input{
    width: 20px;
    height: 20px;
}
.taskItem img {
    width: 24px;
    height: 24px;
    margin: 0 10px 0 10px;
    cursor: pointer;
}
